@import './compoents/navbar.scss'; 
@import './compoents/banner.scss';
@import './compoents/footer.scss';
@import './compoents/postLists.scss';

.guide{
  background-color: #f3f3f3;
  .text-purple{
    color: rgb(86,61,124);
  }
}
.icon{
  width: 1em;
  height:1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}