.calendar{
  &-title{
    border-top: 1px solid rgb(86,61,124);;
    background-color:rgba(86,61,124,.8);
    color: #fff;
  }
  &-container{
    .month{}
    .week{
      &-list{
        li{
          display: block;
          width: 14%;
        }
      }
    }
    .day{
      &-list{
        li{
          display: block;
          width: 14%;
          &.text-red{
            color: #dc3545;
          }
        }
      }
    }
  }
}